<app-profile-header></app-profile-header>

<form class="profile-form__wrapper" [formGroup]="form">
  <div class="profile-form">
    <div class="two-columns">
      <label class="tt-form-label">
        <span class="tt-form-label__text">Имя</span>
        <input type="text" class="tt-form-input" formControlName="firstName" />
      </label>

      <label class="tt-form-label">
        <span class="tt-form-label__text">Фамилия</span>
        <input type="text" class="tt-form-input" formControlName="lastName" />
      </label>
    </div>

    <label class="tt-form-label">
      <span class="tt-form-label__text">telegram username</span>
      <input type="text" class="tt-form-input" formControlName="username" />
    </label>

    <label class="tt-form-label">
      <span class="tt-form-label__text">О себе</span>
      <textarea
        rows="4"
        class="tt-form-input tt-textarea"
        formControlName="description"
      ></textarea>
    </label>

    <label class="tt-form-label">
      <span class="tt-form-label__text">Аватарка</span>
      <app-avatar-upload></app-avatar-upload>
    </label>

    <label class="tt-form-label">
      <span class="tt-form-label__text">Навыки</span>
      <textarea
        placeholder="Введи навык и нажми 'enter'"
        (keydown.enter)="onTagSet($event)"
        [(ngModel)]="tagSet"
        rows="1"
        class="tt-form-input tt-textarea__skills"
        formControlName="stack"
      ></textarea>
      <div class="tags__wrapper">
        @for (tag of tags; track $index) {
        <div class="tag__wrapper">
          <div class="chip">{{ tag }}</div>
          <button
            class="chip-del"
            (click)="onTagDel(tag)"
            [value]="tag"
          ></button>
        </div>
        } @empty {
        <div></div>
        }
      </div>
    </label>
  </div>

  <div>
    <div>
      <button class="btn" (click)="onSave()">Сохранить</button>
    </div>
  </div>
</form>
